.answer{
  padding-top: 10px;
  padding-bottom: 10px;
}

.choose{
  margin-left: 20px;
}

.image{
  height: 250px;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px
}
.scroll-to-fixed {
    position: fixed;
    top: 270px;
    left: 1110px;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid;
    border-radius: 50%;
}